PROJECT_NAME=plataforma360
APP_ENV=dev
APP_SECRET=change-me-local-secret
APP_DEBUG=1
APP_TIMEZONE=America/Recife
APP_PORT=8080
ADMINER_PORT=8081
POSTGRES_PORT=5432
POSTGRES_DB=plataforma360
POSTGRES_USER=plataforma360
POSTGRES_PASSWORD=plataforma360
DATABASE_URL=postgresql://plataforma360:plataforma360@postgres:5432/plataforma360?serverVersion=16&charset=utf8